<!DOCTYPE html>
<html>
  <head>
    <title>Gamer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><a href="<%= teams_path %>" style="color:gold">Teams</a></li>
      <li><a href="<%= tournaments_path %>" style="color:gold">Tournaments</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
